---
import { getCollection } from "astro:content";
import SiteLayout from "../../layouts/SiteLayout.astro";

export async function getStaticPaths() {
  const entries = await getCollection('blogs');
  return entries.map( entry => ({ params: { slug: entry.slug }, props: { entry } }) );
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<SiteLayout title={`${entry.data.title} | The Thinks`}>
  <section class="flex flex-col border-b-8 gap-4 py-8 font-nunito">
    <h1 class="text-primary text-8xl font-bebasneue font-bold">{entry.data.title}</h1>
    <h2 class="text-xl italic">{entry.data.description}</h2>
    <h2 class="text-primary">{entry.data.publish_date.toLocaleDateString("en-US")}</h2>
  </section>
  <article class="prose prose-xl prose-headings:font-bebasneue prose-headings:text-primary text-neutral-content mx-auto w-full max-w-4xl h-full font-nunito">
    <Content />
  </article>
</SiteLayout>
