---
import SiteLayout from "../layouts/SiteLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import { getCollection } from "astro:content";
const blogs = await getCollection("blogs");
---

<SiteLayout title="The Thinks by Zeu">

<section class="flex flex-col gap-8 mx-auto">
  <h2 class="text-4xl underline underline-offset-8 font-bold font-bebasneue">Recently Released</h2>
  {
    blogs.map( entry => ( <BlogCard blog={entry} /> ))
  }
</section>


</SiteLayout>

