---
import type { CollectionEntry } from "astro:content";
interface Props {
  blog: CollectionEntry<'blog'>
}

const { blog } = Astro.props;
---
<a href={`/blog/${blog.slug}`}>
  <article>
    <h1 class="text-3xl font-bebasneue font-bold">{blog.data.title}</h1>
    <p class="text-xl font-nunito">{blog.data.description}</p>
  </article>
</a>
