<nav class="navbar bg-base-100 shadow-lg rounded-xl px-2 lg:px-8">
  <div class="navbar-start">
    <a href="/">
      <button class="text-xl lg:text-3xl btn btn-ghost font-normal font-bebasneue text-secondary">The Thinks</button>
    </a>
  </div>
  <div class="navbar-center gap-4">
    <a href="/">
      <button class="btn btn-ghost btn-square">
        <img src="/computer-old-electronics.svg" alt="The Thinks" />
      </button>
    </a>
  </div>
  <div class="navbar-end">
    <a href="https://zeudev.vercel.app">
      <button class="text-xl lg:text-3xl btn btn-ghost font-normal font-bebasneue text-primary">About</button>
    </a>
  </div>
</nav>
