<nav class="mx-auto flex flex-row border-4 border-black rounded-xl gap-8 mb-8 w-fit px-12 py-8 shadow-xl">
  <a href="/">
    <p class="text-xl hover:decoration-2 hover:underline transition-all duration-300">The Thinks</p>
  </a>

  <a href="https://zeudev.vercel.app">
    <p class="text-xl hover:decoration-2 hover:underline transition-all duration-300">about</p>
  </a>

  <a href="/">
    <p class="text-xl hover:decoration-2 hover:underline transition-all duration-300">collections</p>
  </a>
</nav>
