<nav class="font-bebasneue items-center text-3xl flex flex-row justify-between py-4 max-w-xl border-b-2 gap-8">
  <a href="/"> 
    <p class="text-4xl transition-all duration-300">The Thinks</p>
  </a>
  <a href="/">
    <p class="hover:text-accent transition-all duration-300">collections</p>
  </a>
  <a href="https://zeudev.vercel.app">
    <p class="hover:text-accent transition-all duration-300">about</p>
  </a>
</nav>
