---
import SiteLayout from "./SiteLayout.astro";

const { frontmatter } = Astro.props;
---

<SiteLayout title={frontmatter.title + " | The Thinks"}>
  <section class="flex flex-col gap-4 items-center">
    <h1 class="text-5xl font-bold">{frontmatter.title}</h1>
    <h3 class="text-xl font-bold italic">{frontmatter.description}</h3>
    <p>
      Written by <a href="https://zeudev.vercel.app" class="underline decoration-primary">Zeu</a> 
      | {frontmatter.date}
    </p>
  </section>
  <div class="divider" />
  <article class="prose prose-lg w-full">
    <slot />
  </article>
</SiteLayout>
