---
import "../global.css";
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
---

<html data-theme="luxury" lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/computer-old-electronics.svg"  />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <main class="flex flex-col w-full min-w-screen h-full min-h-screen p-16 gap-8 items-center">
      <Navbar />
      <slot />
    </main>
	</body>
</html>
